@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-family: Playfair Display;
  font-weight: 500;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-soft {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
}

.shadow-softer {
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
}